.createpost{
    width: 400px;
    margin-left: 100px;
    margin-top: 30px;
}

#input-img{
    display: none;
}

label{
    width: 360px;
    height: 150px;
    cursor: pointer;
    padding-top: 50px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 7px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    
}

.upload-img{
    margin-top: 20px;
    padding: 0px 20px;
    color: gray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.upload-img p{
    padding-top: 15px;
    padding-bottom: 5px;
    margin:0;
}

.caption{
    width: 360px;
    height: 60px;
    margin-bottom: 25px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 7px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.share{
    width: 400px;
    background-color: white;
    margin-top: 20px;
    color: rgb(245, 118, 80);
    border: 1.5px solid rgb(245, 118, 80);
    border-radius: 7px;
    box-shadow: inset 0 0 5px rgba(245, 118, 80, 0.2);
}